
services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: subs_user
      POSTGRES_PASSWORD: subs_pass
      POSTGRES_DB: subscriptions
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - db
    environment:
      SERVER_ADDR: ":8080"
      DATABASE_DSN: "postgres://subs_user:subs_pass@db:5432/subscriptions?sslmode=disable"
    ports:
      - "8080:8080"

volumes:
  db_data: {}